<%
=begin%>
 <h1><%= @user.name %></h1> 
<%
=end%>

<% if @user == current_user %>
  <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark edit-profile-btn" %>
  <%= @user.email %>
<% end %>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "" %>
<%= link_to "キャンセル", "#", class: "" %>