<%= javascript_pack_tag 'pages/top', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'pages/top' %>

<div id="hoge" class="jumbotron"></div>

<%# <%= image_pack_tag 'media/images/pages/background.jpg' %>

<%# TOP %>
<div class="jumbotron">
  <div class="container-fluid text-center p-5">
    <h1 class="m-2">PASOTRE</h1>
    <div class="m-2">
      <p>AI パーソナルトレーナーが<p>
      <p>今日のアナタにピッタリなトレーニングメニューを作ります</p>
    </div>
    <% if logged_in? %>
      <%= link_to "トレーニング開始", new_planning_path, class: "btn btn-success mt-2 mb-5" %>
    <% else %>
      <%= link_to "ユーザ登録する", signup_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%# ABOUT %>
<div class="container text-center my-5 border-bottom">
  <h3 class="text-secondary mt-3 mb-5">ABOUT</h3>
  <div class="row">
    <div class="col-lg-4">
      <i class="fas fa-chart-line fa-3x"></i>
      <h4 class="my-4">今日のアナタ専用</h4>
      <div class="text-secondary mt-1">
        <p>今の体調や気分を教えてください</p>
        <p>最適なメニューを作ります</p>
      </div>
    </div>
    <div class="col-lg-4">
      <i class="fas fa-dumbbell fa-3x"></i>
      <h4 class="my-4">無理なくボディメイク</h4>
      <div class="text-secondary mt-1">
        <p>負荷はその日に合わせて調整します</p>
        <p>筋トレ初心者にオススメ</p>
      </div>
    </div>
    <div class="col-lg-4">
      <i class="fas fa-robot fa-3x"></i>
      <h4 class="my-4">AI トレーナー</h4>
      <div class="text-secondary mt-1">
        <p>いつでもどこでも</p>
        <p>AI トレーナーが付き添います</p>
      </div>
    </div>
  </div>
</div>

<%# HOW TO USE %>
<div class="container text-center my-5 border-bottom">
  <h3 class="text-secondary mt-3 mb-5">HOW TO USE</h3>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <i class="fas fa-chart-line fa-3x"></i>
      <h4 class="my-4">1. ヒアリング</h4>
      <div class="text-secondary mt-1">
        <p>今日の気分や体調を入力</p>
      </div>
    </div>
    <div class="col-md-4">
      <i class="fas fa-dumbbell fa-3x"></i>
      <h4 class="my-4">2. すぐトレーニング</h4>
      <div class="text-secondary mt-1">
        <p>自動生成メニューでトレーニング</p>
      </div>
    </div>
  </div>
  <% if logged_in? %>
    <%= link_to "トレーニング開始", new_planning_path, class: "btn btn-success mt-2 mb-5" %>
  <% end %>
</div>

<%# SIGN UP %>
<% if !logged_in? %>
  <div class="container text-center my-5 border-bottom">
    <h3 class="text-secondary mt-3 mb-5">ユーザ登録してトレーニングしましょう</h3>
    <div class="text-secondary">
    <p>ユーザ登録すると  アナタの　その日の体調に合わせた</p>
    <p>トレーニングメニューを自動生成できるようになります</p>
    </div>
  </div>
<% end %>


