<%= javascript_pack_tag 'pages/top', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'pages/top' %>

<%# TOP %>
<div class="top-bg">
  <div class="container-fluid text-center p-5 text-light">
    <div class="top-title fw-bold">PASOTRE</div>
    <div class="top-description mt-3 mx-2 mb-5">
      <p>AI パーソナルトレーナーが<br>
      今日のアナタにピッタリなトレーニングメニューを作成<br>
      (ユーザ登録不要)</p>
    </div>
    <%= link_to "Training!", new_planning_path, class: "btn-training" %>
    <%= link_to "Learn more", about_path, class: "btn-about" %>
  </div>
</div>

<%# FEATURES %>
<div class="container text-center my-5 border-bottom">
  <h2 class="text-secondary mt-3 mb-5">FEATURES</h2>
  <div style="visibility: visible; animation-name: fadeInUp;"><span></span></div>
  <div class="row mb-5">
    <div class="col-lg-4 my-3">
      <div class="features-box-icon">
        <i class="fas fa-chart-line"></i>
      </div>
      <h3 class="my-4">Only for You</h3>
      <div class="text-secondary mt-1">
        <p>今の体調や気分を教えてください</p>
        <p>最適なメニューを作ります</p>
      </div>
    </div>
    <div class="col-lg-4 my-3">
      <div class="features-box-icon">
        <i class="fas fa-dumbbell"></i>
      </div>
      <h3 class="my-4">Fit Today</h3>
      <div class="text-secondary mt-1">
        <p>負荷はその日に合わせて調整します</p>
        <p>無理をする必要はありません</p>
      </div>
    </div>
    <div class="col-lg-4 my-3">
      <div class="features-box-icon">
        <i class="fas fa-robot"></i>
      </div>
      <h3 class="my-4">AI Trainer</h3>
      <div class="text-secondary mt-1">
        <p>いつでもどこでも</p>
        <p>AI トレーナーが付き添います</p>
      </div>
    </div>
  </div>
</div>

<%# HOW TO USE %>
<div class="container text-center my-5 border-bottom">
  <h2 class="text-secondary mt-3 mb-5">HOW TO USE</h2>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h4 class="my-4">1. ヒアリング</h4>
      <div class="text-secondary mt-1">
        <p>今日の気分や体調を入力</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="my-4">2. すぐトレーニング</h3>
      <div class="text-secondary mt-1">
        <p>自動生成メニューでトレーニング</p>
      </div>
    </div>
  </div>
  <%= link_to "Learn more", about_path, class: "btn-about my-3 mb-5" %>
  <%= link_to "Training!", new_planning_path, class: "btn-training" %>
</div>