<header class="mb-2">
  <nav class="navbar navbar-expand-sm navbar-dark px-4 bg-primary">
    <a class="navbar-brand" href="/">PASOTRE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="dropdown-item"><%= link_to 'USER', user_path(current_user), class: 'link' %></li>
          <li class="dropdown-item"><%= link_to 'PLANNING', new_planning_path, class: 'link' %></li>
          <li class="dropdown-item"><%= link_to 'MENU', planning_path(current_user), class: 'link' %></li>
          <li class="dropdown-item"><%= link_to 'LOGOUT', logout_path, class: 'link', method: :delete %></li>
        <% else %>
          <li class="dropdown-item"><%= link_to 'SIGNUP', signup_path, class: 'link' %></li>
          <li class="dropdown-item"><%= link_to 'LOGIN', login_path, class: 'link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>