<%= javascript_pack_tag 'plannings/index', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'plannings/index' %>

<div class="container choose_box text-center my-5">
  <h1>Today's  Menu</h1>

  <div class="row my-5">
    <% @menus.each do |menu| %>
      <div id="<%= menu.num %>" class="col-md-6 offset-md-3 text-center">
        <div class="card">
          <div class="card-header bg-light">
            <h3 class="mt-4 mb-2"><%= menu.training.name %></h3>
            <span class="help-tooltip-trigger">
              <i class="far fa-question-circle"></i>
            </span>
            <div class="help-tooltip">
              <p><%= menu.training.description %></p>
            </div>
          </div>
          <div class="card-body">
            <h2 class="card-title">x <%= menu.count %></h2>
          </div>
        </div>
        <% if menu.num == @menus.length - 1 %>
          <a class="btn-last mt-4 mb-5" href="<%= new_planning_path %>">Clear!</a>
        <% else %>
          <a class="btn-next mt-4 mb-5">Done!</a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>