<div class="text-center my-5">
  <h1>QUESTION</h1>
</div>

<%= form_with model: @planning do |f| %>

  <div class="form-group row">
    <div class="offset-sm-2 col-sm-8 mt-5 mb-2">
      <b>Q1. 腕立て伏せを一気に何回できますか？</b>>
    </div>
    <div class="offset-sm-2 col-sm-8 mb-2">
      <%= f.select :condition, [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], class: "form-select" %> 回
    </div>

    <div class="offset-sm-2 col-sm-8 mt-5 mb-2">
      <b>Q2. 今日の調子は？</b>
    </div>
    <div class="offset-sm-2 col-sm-8 mb-2">
      <%= f.radio_button :condition, 1.4, {checked: true} %> 最高! 
      <%= f.radio_button :condition, 1.2 %> 良い 
      <%= f.radio_button :condition, 1.0 %> 普通 
      <%= f.radio_button :condition, 0.8 %> 微妙 
      <%= f.radio_button :condition, 0.6 %> 最悪... 
    </div>

    <div class="offset-sm-2 col-sm-8 mt-5 mb-2">
      <b>Q3. 負荷はどんな感じにしますか？</b>
    </div>
    <div class="offset-sm-2 col-sm-8 mb-2">
      <%= f.radio_button :adjustment, 2, {checked: true} %> 強く 
      <%= f.radio_button :adjustment, 1 %> 少し強く 
      <%= f.radio_button :adjustment, 0 %> そのまま 
      <%= f.radio_button :adjustment, -1 %> 少し弱く 
      <%= f.radio_button :adjustment, -2 %> 弱く 
    </div>

    <div class="offset-sm-2 col-sm-8 mt-5 mb-2">
      <b>Q4. どこを特に鍛えたいですか？</b>
    </div>
    <div class="offset-sm-2 col-sm-8 mb-2">
      <%= f.radio_button :focus, '肩', {checked: true} %> 肩 
      <%= f.radio_button :focus, '胸' %> 胸 
      <%= f.radio_button :focus, '腕' %> 腕 
      <%= f.radio_button :focus, '背中' %> 背中 
      <%= f.radio_button :focus, '腹' %> 腹 
      <%= f.radio_button :focus, '脚' %> 脚 
    </div>

    <div class="offset-sm-2 col-sm-8 mt-5 mb-2">
      <b>Q5. 何分ぐらいトレーニングしますか？</b>
    </div>
    <div class="offset-sm-2 col-sm-8 mb-2">
      <%= f.select :allowed_time, [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60], class: "form-select" %> 分
    </div>
  </div>

  <div class="col text-center my-5">
    <%= f.submit 'メニュー作成!', class: 'btn btn-primary btn-block mb-3' %>
  </div>
<% end %>